@page
@model ThAmCo.Events.Pages.EventList.ConfirmationModel
@{
    ViewData["Title"] = "Reservation Confirmation";
}

<h1>Reservation Confirmed!</h1>

<div class="mt-5">
    <p><strong>Reservation Reference:</strong> @Model.ReservationDetails.Reference</p>
    <p><strong>Staff ID:</strong> @Model.ReservationDetails.StaffId</p>
    <p><strong>Event Date:</strong> @Model.ReservationDetails.EventDate.ToString("f")</p>
    <p><strong>Venue Code:</strong> @Model.ReservationDetails.VenueCode</p>
    <p>Created on: @Model.ReservationDetails.WhenMade.ToString("f")</p>
</div>

<a class="mt-5" asp-page="/Index">Return to Home</a>
