@page
@model ThAmCo.Events.Pages.EventList.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventType)
        </dd>
    </dl>
    <h4>Guests</h4>
    @if (Model.Event.GuestBookings.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Event.GuestBookings.First().Guest.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Event.GuestBookings.First().HasAttended)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var guest in Model.Event.GuestBookings)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => guest.Guest.Name)</td>
                        <td>@Html.DisplayFor(modelItem => guest.HasAttended)</td>
                    </tr>
                }
                    <tr>
                        <td colspan="2">Total Guest Count: @Model.Event.GuestBookings.Count()</td>
                    </tr>
            </tbody>
        </table>
        //TODO: Add a new page for booking a guest onto an event for better UX instead of doing it within the same page. 
        //  Doing as a pop up would also work however.
        <button type="submit" value="Add Guest" class="btn btn-secondary">Add Guest</button>
    }
    else
    {
        <p>No guests found for this event</p>
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Event.EventId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
